body {
    margin: 35vh 0 0 0;
    background: #006400; /* Dark Green */
}

header > h1 {
    border: 1px solid green;
    margin: 25px auto 25px auto;
    text-align: center;

    font-family: 'Share Tech', sans-serif;
    font-size: 60px;
    font-size: 3.75rem;

    width: 350px;

    animation: slidein 1.5s;
}

form {
    text-align: center;
}

label {
    font-family: 'Share Tech', sans-serif;
    margin-right: 1%;
}

input[type="number"] {
    font-family: 'Share Tech', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="submit"] {
    font-family: 'Share Tech', sans-serif;
    margin: 25px 0 0 0;
}

@keyframes slidein {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
