.text-center {
  text-align: center;
}

#header__title {
  border: 1px solid #0000ff;
  font-family: "Share Tech", sans-serif;
  font-size: 3.75rem;
  animation: slidein 1.5s;
  padding: 0 1rem;
}

#calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calc button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  display: flex;
  width: 400px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  margin-bottom: 5px;
  justify-content: flex-end;
  align-items: flex-end;
}

.display p {
  float: right;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}

.container button {
  /* display: inline; */
  display: inline-block;
  background: #111;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1.5px solid #0000ff;
}

.container button:hover {
  background: #000;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .display {
    width: 250px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container button#four {
    grid-row: 2;
    grid-column: 1;
  }

  .container button#five {
    grid-row: 2;
    grid-column: 2;
  }

  .container button#six {
    grid-row: 2;
    grid-column: 3;
  }

  .container button#seven {
    grid-row: 3;
    grid-column: 1;
  }

  .container button#eight {
    grid-row: 3;
    grid-column: 2;
  }

  .container button#nine {
    grid-row: 3;
    grid-column: 3;
  }

  .container button#zero {
    grid-row: 4;
    grid-column: 1;
  }

  .container button#point {
    grid-row: 4;
    grid-column: 2;
  }
  .container button#sum {
    grid-row: 4;
    grid-column: 3;
  }

  .container button#subt {
    grid-row: 5;
    grid-column: 1;
  }

  .container button#mult {
    grid-row: 5;
    grid-column: 2;
  }
}

/* ANIMATIONS */
@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-moz-keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-webkit-keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
