* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header__title {
  border: 1px solid #0000ff;
  font-family: "Share Tech", sans-serif;
  font-size: 3.75rem;
  -webkit-animation: slidein 1.5s;
  animation: slidein 1.5s;
  padding: 0 1rem;
}

#calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calc button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#display {
  display: flex;
  width: 350px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  margin: 1rem 0;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
}

.container {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
}

.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 16px 32px;
  font-size: 1rem;
  cursor: pointer;
  border: 1.5px solid #0000ff;
}

.container button:hover {
  background: #000;
  /* filter: brightness(0.5); */
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  #display {
    width: 20rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container button#four {
    grid-row: 2;
    grid-column: 1;
  }

  .container button#five {
    grid-row: 2;
    grid-column: 2;
  }

  .container button#six {
    grid-row: 2;
    grid-column: 3;
  }

  .container button#seven {
    grid-row: 3;
    grid-column: 1;
  }

  .container button#eight {
    grid-row: 3;
    grid-column: 2;
  }

  .container button#nine {
    grid-row: 3;
    grid-column: 3;
  }

  .container button#zero {
    grid-row: 4;
    grid-column: 1;
  }

  .container button#point {
    grid-row: 4;
    grid-column: 2;
  }

  .container button#sum {
    grid-row: 4;
    grid-column: 3;
  }

  .container button#subt {
    grid-row: 5;
    grid-column: 1;
  }

  .container button#mult {
    grid-row: 5;
    grid-column: 2;
  }
}

/* ANIMATIONS */
@keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}