* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  margin-top: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-header__title, #main-header__subtitle {
  font-family: "Share Tech", sans-serif;
  -webkit-animation: slidein 1.5s;
  animation: slidein 1.5s;
  text-align: center;
}

#main-header__title {
  border: 1px solid #0000ff;
  font-size: 3.75rem;
  padding: 0 1rem;
}

#main-header__subtitle {
  margin: 1rem 0;;
  font-size: 1.5rem;
}

#calc, #calc-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  display: flex;
  width: 250px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  margin: 1rem 0;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  word-break: break-all;
}

#digits {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
}

#digits button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 16px 32px;
  font-size: 1rem;
  cursor: pointer;
  border: 1.5px solid #0000ff;
}

#digits button:hover {
  background: #000;
}

#calc-comp {
  margin-top: 1.2rem;
}

#calc-comp input[type="number"] {
  margin: .5rem 0;
  border: 0;
  border-bottom: 1px solid #000;
  min-width: 55%;
}

#calc-comp input[type="number"]::placeholder {
  text-align: end;
}

#calc-comp input[type="number"]:focus{
  outline: 1px dashed #000;
  outline-offset: .1rem;
}

/* ANIMATIONS */
@keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

#ctx-menu {
  position: absolute;
}
