* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  margin-top: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header__title {
  border: 1px solid #0000ff;
  font-family: "Share Tech", sans-serif;
  font-size: 3.75rem;
  -webkit-animation: slidein 1.5s;
  animation: slidein 1.5s;
  padding: 0 1rem;
}

#calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  display: flex;
  width: 250px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  margin: 1rem 0;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  word-break: break-all;
}

#digits {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
}

#digits button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 16px 32px;
  font-size: 1rem;
  cursor: pointer;
  border: 1.5px solid #0000ff;
}

#digits button:hover {
  background: #000;
}

/* ANIMATIONS */
@keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

#ctx-menu {
  position: absolute;
}
